<h2>Paralyzed by indecision when you look at your To-Do list? <br>
  Don't worry! That's totally normal.
</h2>

<h3>I built this tool to help people like you get over choice paralysis.</h3>
<div id="Simply">
  <h4>Simply:</h4>
    <ul>
      <li>Create a to-do list</li>
      <li>Push the "Which Should I Do?" button</li>
      <li>Do that thing! Right now! For at least 15 minutes.</li>
    </ul>
  <h4>You can even create an account and save your to-do lists for later</h4>
</div>
<h3>Get started on that crazy to-do list today!</h3>
<button>Try it now</button>

<div id="video_proof">
  <h3>Watch this video to learn more about choice paralysis</h3>
  <iframe src="http://embed.ted.com/talks/lang/en/barry_schwartz_on_the_paradox_of_choice.html" width="854" height="480" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

